/* Custom Styles */
[x-cloak] { display: none !important; }

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

.player-wrapper {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #010101;
    color: #1FC742;
    border: 2px solid #025B18;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 640px) {
    .player-wrapper {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
}

.minimized {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 169px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #010101; /* Black */
    border: 2px solid #025B18; /* Emerald Green */
}

/* Fixing footer position */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #686868; /* Dim Gray */
    color: #1FC742; /* Lime Green */
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #023612; /* Dark Green */
    color: #1FC742; /* Lime Green */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #025B18; /* Emerald Green */
}
